<div class="clr-row" *ngIf="!contenido.ruta">
    <div class="clr-col" *ngIf="!mediaCargada">
        <clr-radio-container clrInline>
            <label>Origen del multimedia</label>
            <clr-radio-wrapper>
                <input type="radio" clrRadio name="{{nombreRadio}}" value="local" required [(ngModel)]="contenido.origen">
                <label>Desde el computador</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper>
                <input type="radio" clrRadio name="{{nombreRadio}}" value="url" required [(ngModel)]="contenido.origen">
                <label>Desde una URL</label>
            </clr-radio-wrapper>
        </clr-radio-container>
        <div [ngSwitch]="contenido.origen" class="origen">
            <div class="local" *ngSwitchCase="'local'">
                <file-drop customstyle="zona-drop" (onFileDrop)="validaArchivo($event,true)">
                    <clr-icon shape="upload-cloud" size="72"></clr-icon>
                    <span class="instrucciones">Arrastre y suelte el archivo en esta zona o</span>
                    <label for="origen-local">
                        <div class="btn">cárguelo desde su computador</div>
                    </label>
                    <input type="file" (change)="validaArchivo($event,false)" id="origen-local">
                </file-drop>
            </div>
            <form clrForm *ngSwitchCase="'url'">
                <clr-input-container>
                    <label>URL del archivo multimedia</label>
                    <input type="url" clrInput name="origen-url" [(ngModel)]="ruta" required>
                    <clr-control-helper>Copie y pegue la ruta URL del archivo</clr-control-helper>
                    <clr-control-error>Debe ingresar una URL válida</clr-control-error>
                </clr-input-container>
                <br>
                <button class="btn" (click)="validaURL()" [disabled]="!ruta">
                    <clr-icon shape="check"></clr-icon>
                    Validar URL
                </button>
            </form>
        </div>
    </div><!-- /.clr-col -->
    <div class="clr-col" *ngIf="mediaCargada">
        <div class="btn-group botones-giro btn-outline btn-icon" *ngIf="tipoMedia=='img'">
            <clr-tooltip>
                <button clrTooltipTrigger class="btn" (click)="giraImg()">
                    <clr-icon shape="redo"></clr-icon>
                </button>
                <clr-tooltip-content clrPosition="top-left" clrSize="sm" *clrIfOpen>
                    <span>Rotar imagen</span>
                </clr-tooltip-content>
            </clr-tooltip>
        </div>
        <div class="cont-media" [ngStyle]="estiloContMedia">
            <img class="img-prevista" [src]="srcImagen | sanitizeHtml: 'url'" (error)="errorImagen($event)" [ngStyle]="contenido.style" *ngIf="tipoMedia=='img'" (load)="mediaCompleta()" [id]="contenido.nombre">
            <video class="img-prevista" controls *ngIf="tipoMedia=='vid'" [ngStyle]="contenido.style" [id]="contenido.nombre">
                <source [src]="srcImagen | sanitizeHtml: 'url'" type="{{contenido.tipo}}">
            </video>
            <audio controls [src]="srcImagen | sanitizeHtml: 'url'" *ngIf="tipoMedia=='aud'" [id]="contenido.nombre"></audio>
        </div>
        <div class="progress flash progress-fade" *ngIf="barraCarga">
            <progress max="100" value="{{progresoCarga | async}}" data-displayval="0%"></progress>
        </div>
        <div class="btn-group btn-outline-primary">
            <button class="btn" (click)="confirmarCarga()" [disabled]="!imagenValida">
                <clr-icon shape="upload"></clr-icon>
                Cargar
            </button>
            <button class="btn btn-danger" (click)="eliminaMedia()">
                <clr-icon shape="trash"></clr-icon>
                Eliminar
            </button>
        </div>
    </div><!-- /.clr-col -->
</div><!-- /.clr-row -->
<div class="clr-row" *ngIf="contenido.ruta">
    <div class="clr-col">
        <div class="btn-group botones-giro btn-outline btn-icon" *ngIf="tipoMediaTag(contenido.tipo)=='img'">
            <clr-tooltip>
                <button clrTooltipTrigger class="btn" (click)="giraImg()">
                    <clr-icon shape="redo"></clr-icon>
                </button>
                <clr-tooltip-content clrPosition="top-right" clrSize="sm" *clrIfOpen>
                    <span>Rotar imagen</span>
                </clr-tooltip-content>
            </clr-tooltip>
        </div>
        <div class="cont-media" [ngStyle]="estiloContMedia">
            <img class="img-prevista" [id]="contenido.nombre" [src]="contenido.ruta | sanitizeHtml: 'url'" (error)="errorImagen($event)" [ngStyle]="contenido.style" *ngIf="tipoMediaTag(contenido.tipo)=='img'" (load)="mediaCompleta()">
            <video class="img-prevista" [id]="contenido.nombre" controls *ngIf="tipoMediaTag(contenido.tipo)=='vid'" [ngStyle]="contenido.style">
                <source [src]="contenido.ruta | sanitizeHtml: 'url'" type="{{contenido.tipo}}">
            </video>
            <audio [id]="contenido.nombre" controls [src]="contenido.ruta | sanitizeHtml: 'url'" *ngIf="tipoMediaTag(contenido.tipo)=='aud'"></audio>
        </div>
        <button class="btn btn-danger btn-block" (click)="eliminaMedia()">
            <clr-icon shape="trash"></clr-icon>
            Eliminar este multimedia
        </button>
    </div>
    <div class="clr-col-4"></div>
</div><!-- /.clr-row -->
<clr-modal [(clrModalOpen)]="modalVerificar.estado" [clrModalSize]="'md'">
    <h3 class="modal-title">{{modalVerificar.titulo}}</h3>
    <div class="modal-body">
        <div [innerHTML]="modalVerificar.texto | sanitizeHtml: 'html'"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modalVerificar.accion()">
            <clr-icon [attr.shape]="modalVerificar.iconoAccion"></clr-icon>
            {{modalVerificar.textoAccion}}
        </button>
        <button type="button" class="btn btn-outline" (click)="modalVerificar.cerrar()">{{modalVerificar.textoCierre}}</button>
    </div>
</clr-modal>
