<h1>Componente Media en sección {{seccion.titulo?seccion.titulo:'sin nombre.'}}</h1>
<div class="contenedor-form">
    <clr-input-container>
        <label>Título del multimedia</label>
        <input type="text" clrInput name="titulo" [(ngModel)]="seccion.componentes[num].contenido.titulo" size="60">
    </clr-input-container>
    <div class="toggle-switch">
        <input type="checkbox" id="toggle-ampliable" [(ngModel)]="seccion.componentes[num].contenido.ampliable">
        <label for="toggle-ampliable">Multimedia ampliable</label>
    </div>
    <app-carga-imagen [contenido]="seccion.componentes[num].contenido" [nomCurso]="nomCurso"></app-carga-imagen>
    <clr-input-container>
        <label>Pie del multimedia</label>
        <input type="text" clrInput name="pie" [(ngModel)]="seccion.componentes[num].contenido.pie" size="60" [disabled]="!conPie">
    </clr-input-container>
    <div class="toggle-switch">
        <input type="checkbox" id="toggle-pie" checked [(ngModel)]="conPie" (change)="asignaPie(conPie)">
        <label for="toggle-pie">Multimedia con pie</label>
    </div>
</div>
