.header {
    .branding {
        .logo-mediateca {
            flex-grow: 0;
            flex-shrink: 0;
            height: 1.5rem;
            width: 1.5rem;
            margin-right: .375rem;
            background-image: url(../../assets/LogoMediateca.svg);
        }
    }
}
