<h1>Componente Contenedores en sección {{seccion?.titulo?seccion.titulo:'sin nombre.'}}</h1>
<form clrForm clrLayout="horizontal">
    <clr-input-container>
        <label>Título del componente</label>
        <input clrInput type="text" [(ngModel)]="seccion.componentes[num].contenido.titulo" name="titulo" size="60">
    </clr-input-container>
    <br>
    <div class="clr-row">
        <div class="clr-col-md-2 titulo-control">
            Opción de diagramación
        </div>
        <div class="clr-col">
            <div class="btn-group">
                <div class="radio btn btn-outline">
                    <input type="radio" name="opcion" id="op0" [value]="true" [(ngModel)]="seccion.componentes[num].contenido.vertical">
                    <label for="op0">Vertical</label>
                </div>
                <div class="radio btn btn-outline">
                    <input type="radio" name="opcion" id="op1" [value]="false" [(ngModel)]="seccion.componentes[num].contenido.vertical">
                    <label for="op1">Horizontal</label>
                </div>
            </div>
        </div>
    </div>
</form>
<h3>Texto del componente (instrucciones)</h3>
<quill-editor [modules]="configuracionEditor" format="html" [(ngModel)]="seccion.componentes[num].contenido.texto" [placeholder]="'Inserte texto'">
</quill-editor>
<h2>
    Contenedores
    <clr-tooltip *ngIf="seccion?.componentes[num].contenido.contenedores.length < 7">
        <button clrTooltipTrigger class="btn btn-link btn-icon" (click)="nuevoContenedor()">
            <clr-icon shape="plus-circle"></clr-icon>
        </button>
        <clr-tooltip-content clrPosition="top-right" clrSize="sm" *clrIfOpen>
            <span>Nuevo contenedor</span>
        </clr-tooltip-content>
    </clr-tooltip>
</h2>
<div class="clr-row">
    <div class="clr-col-md-6 clr-col-12" *ngFor="let contenedor of seccion?.componentes[num].contenido.contenedores; index as i; first as inicial">
        <div class="card">
            <div class="card-header">
                Contenedor <span class="badge badge-info">{{i+1}}</span>
            </div>
            <div class="card-block">
                <app-block-card [elemento]="contenedor"></app-block-card>
            </div>
            <div class="card-footer"></div>
        </div><!-- /.card -->
    </div><!-- /.clr-col -->
</div><!-- /.clr-row -->
<h2>
    Contenidos
    <clr-tooltip>
        <button clrTooltipTrigger class="btn btn-link btn-icon" (click)="nuevoContenido()">
            <clr-icon shape="plus-circle"></clr-icon>
        </button>
        <clr-tooltip-content clrPosition="top-right" clrSize="sm" *clrIfOpen>
            <span>Nuevo contenido</span>
        </clr-tooltip-content>
    </clr-tooltip>
</h2>
<div class="clr-row">
    <div class="clr-col-md-6 clr-col-12" *ngFor="let contenido of seccion?.componentes[num].contenido.contenidos; index as i; first as inicial">
        <div class="card">
            <div class="card-header">
                Contenido <clr-icon shape="arrow right"></clr-icon>
                <div class="bloque-select">
                    <select clrSelect name="options" [(ngModel)]="contenido.contenedor">
                        <option *ngFor="let op of seccion?.componentes[num].contenido.contenedores; index as i" value="{{i}}">
                            {{i+1}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="card-block">
                <app-block-card [elemento]="contenido"></app-block-card>
                <!--app-carga-imagen [contenido]="contenido" [nomCurso]="nomCurso"></app-carga-imagen>
                <quill-editor [modules]="configuracionEditor" format="html" [(ngModel)]="contenido.texto" [placeholder]="''">
                </quill-editor-->
            </div>
            <div class="card-footer"></div>
        </div><!-- /.card -->
    </div><!-- /.clr-col -->
</div><!-- /.clr-row -->
