<h1>
    <clr-signpost>
        <clr-icon shape="eye" clrSignpostTrigger></clr-icon>
        <clr-signpost-content [clrPosition]="'left-bottom'" *clrIfOpen>
            <h3>Tabla resultado</h3>
            <div [innerHTML]="seccion.componentes[num].contenido.texto | sanitizeHtml: 'html'"></div>
        </clr-signpost-content>
    </clr-signpost>
    Tabla en la sección {{seccion.titulo?seccion.titulo:'sin nombre'}}
</h1>
<div class="toggle-switch">
    <input type="checkbox" id="tablaCompacta" [(ngModel)]="compacta">
    <label for="tablaCompacta">Tabla compacta</label>
</div>
<h2>Estructura de la tabla</h2>
<app-theader *ngFor="let fila of tabla.contenido.head.contenido" [fila]="fila.fila.contenido">
</app-theader>
<div class="card">
    <div class="card-header">Cuerpo</div>
    <div class="card-block">
            <app-tbody *ngFor="let fila of tabla.contenido.body.contenido" [fila]="fila.fila.contenido" [configuracionEditor]="configuracionEditor">
            </app-tbody>
    </div><!-- /.card-block -->
    <div class="card-footer">
        <button class="btn btn-primary" (click)="nuevaFila()"><clr-icon shape="plus"></clr-icon> Añadir una nueva fila</button>
    </div>
</div><!-- /.card -->
