<div class="main-container">
    <header class="header header-6">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="vm-bug"></clr-icon>
                <span class="title">Mediateca</span>
            </a>
        </div>
        <div class="header-nav">
            <a href="javascript://" class="active nav-link nav-text">Curso 01</a>
            <a href="javascript://" class="nav-link nav-text">Curso 02</a>
        </div>
        <div class="header-actions">
            <a href="javascript://" class="nav-link nav-icon">
                <clr-icon shape="plus-circle"></clr-icon>
            </a>
            <a href="javascript://" class="nav-link nav-icon">
                <clr-icon shape="login"></clr-icon>
            </a>
            <a href="javascript://" class="nav-link nav-icon">
                <clr-icon shape="logout"></clr-icon>
            </a>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <div class="clr-row">
                <div class="clr-col-5">
                    <clr-tree-node>
                        <div class="clr-col-8">
                            <clr-icon shape="certificate"></clr-icon>
                            {{contenido.branding.nombreCurso? contenido.branding.nombreCurso : 'Curso sin nombre'}}
                        </div>
                        <div class="clr-col btn-group btn-primary btn-icon btn-sm">
                            <button class="btn" (click)="editaModulo(contenido.branding)">
                                <clr-icon shape="edit"></clr-icon>
                            </button>
                            <button class="btn" (click)="nuevoModulo()">
                                <clr-icon shape="plus-circle"></clr-icon>
                            </button>
                        </div>
                        <ng-template [clrIfExpanded]="true">
                            <div class="dragable-container" dragula="MODULOS" [(dragulaModel)]="contenido.modulos">
                                <clr-tree-node class="clr-row dragable clr-treenode-link"
                                               *ngFor="let modulo of contenido.modulos; index as i; first as inicial">
                                    <div class="clr-col-8 drag-modulo">
                                        <clr-icon [attr.shape]="'blocks-group'"></clr-icon>
                                        {{modulo.titulo? modulo.titulo : 'Módulo sin nombre'}}
                                    </div>
                                    <div class="clr-col">
                                        <div class="btn-group btn-primary btn-icon btn-sm">
                                            <button class="btn" (click)="editaModulo(modulo, i)">
                                                <clr-icon shape="edit"></clr-icon>
                                            </button>
                                            <button class="btn" (click)="nuevoMomento(modulo.momentos)">
                                                <clr-icon shape="plus-circle"></clr-icon>
                                            </button>
                                            <button class="btn btn-danger"
                                                    (click)="intentaEliminarComponente(contenido.modulos,i)"
                                                    *ngIf="!inicial">
                                                <clr-icon shape="trash"></clr-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <ng-template [clrIfExpanded]="true">
                                        <div class="dragable-container"
                                             dragula="MOMENTOS" [(dragulaModel)]="modulo.momentos">
                                            <clr-tree-node class="clr-row dragable clr-treenode-link"
                                                           *ngFor="let momento of modulo.momentos; index as e; first as inicialM">
                                                <div class="clr-col-8 drag-momento">
                                                    <clr-icon [attr.shape]="'list'"></clr-icon>
                                                    {{momento.titulo? momento.titulo : 'Momento sin nombre'}}
                                                </div>
                                                <div class="clr-col">
                                                    <div class="btn-group btn-primary btn-icon btn-sm">
                                                        <button class="btn" (click)="editaMomento(modulo,momento,e)">
                                                            <clr-icon shape="edit"></clr-icon>
                                                            <span class="clr-icon-title">Editar</span>
                                                        </button>
                                                        <button class="btn" (click)="nuevaSeccion(momento.secciones)">
                                                            <clr-icon shape="plus-circle"></clr-icon>
                                                        </button>
                                                        <button class="btn btn-danger"
                                                                (click)="intentaEliminarComponente(modulo.momentos,e)"
                                                                *ngIf="!inicialM">
                                                            <clr-icon shape="trash"></clr-icon>
                                                            <span class="clr-icon-title">Eliminar</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <ng-template [clrIfExpanded]="true">
                                                    <div class="dragable-container"
                                                         dragula="SECCIONES"
                                                         [(dragulaModel)]="momento.secciones">
                                                        <clr-tree-node class="clr-row dragable clr-treenode-link"
                                                                       *ngFor="let seccion of momento.secciones; index as q; first as inicialS">
                                                            <div class="clr-col-8 drag-seccion">
                                                                <clr-icon [attr.shape]="'file'"></clr-icon>
                                                                {{seccion.titulo? seccion.titulo : 'Sección sin nombre'}}
                                                            </div>
                                                            <div class="clr-col">
                                                                <div class="btn-group btn-primary btn-icon btn-sm">
                                                                    <button class="btn" (click)="editaSeccion(momento,seccion,q)">
                                                                        <clr-icon shape="edit"></clr-icon>
                                                                        <span class="clr-icon-title">Editar</span>
                                                                    </button>
                                                                    <button class="btn" (click)="nuevoComponente(seccion.componentes)">
                                                                        <clr-icon shape="plus-circle"></clr-icon>
                                                                    </button>
                                                                    <button class="btn btn-danger"
                                                                            (click)="intentaEliminarComponente(momento.secciones,e)"
                                                                            *ngIf="!inicialS">
                                                                        <clr-icon shape="trash"></clr-icon>
                                                                        <span class="clr-icon-title">Eliminar</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <ng-template [clrIfExpanded]="true">
                                                            </ng-template>
                                                        </clr-tree-node>
                                                    </div><!-- dragula -->
                                                </ng-template>
                                            </clr-tree-node>
                                        </div><!-- dragula -->
                                    </ng-template>
                                </clr-tree-node>
                            </div><!-- dragula -->
                        </ng-template>
                    </clr-tree-node>
                </div><!-- /.clr-col-5 -->
                <div class="clr-col">
                    {{contenido | json}}
                    <div [ngSwitch]="componenteActivo">
                        <app-branding [branding]="contenido.branding" *ngSwitchCase="contenido.branding"></app-branding>
                        <app-modulo [contenido]="contenido"
                                    [numModulo]="numComponente"
                                    [modulo]="contenido.modulos[numComponente]"
                                    *ngSwitchCase="contenido.modulos[numComponente]">
                        </app-modulo>
                        <app-momento [contenido]="contenido"
                                     [modulo]="editandoModulo"
                                     [numMomento]="numComponente"
                                     [momento]="editandoMomento"
                                     *ngSwitchCase="editandoMomento">
                        </app-momento>
                        <app-seccion [momento]="editandoMomento"
                                     [numSeccion]="numComponente"
                                     [seccion]="editandoSeccion"
                                     *ngSwitchCase="editandoSeccion">
                        </app-seccion>
                        <app-texto-plano [configuracionEditor]="configuracionEditor"
                                         [texto]=""
                                         [titulo]=""
                                         *ngSwitchCase="'texto-plano'">
                        </app-texto-plano>
                    </div>
                </div>
            </div><!-- /.clr-row -->
            <clr-modal [(clrModalOpen)]="modalBorrar.activa">
                <h3 class="modal-title">{{modalBorrar.titulo}}</h3>
                <div class="modal-body">
                    <p>{{modalBorrar.texto}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" (click)="modalBorrar.activa = false">Cancelar</button>
                    <button type="button"
                            class="btn btn-danger"
                            (click)="eliminaComponente(modalBorrar.componente,modalBorrar.num)">
                        {{modalBorrar.textoAccion}}
                    </button>
                </div>
            </clr-modal><!-- /clr-modal modalBorrar -->
            <clr-modal [(clrModalOpen)]="modalNew.activa">
                <h3 class="modal-title">{{modalNew.titulo}}</h3>
                <div class="modal-body">
                    <p>
                        {{modalNew.texto}}
                    </p>
                    <form clrForm clrLayout="horizontal">
                        <clr-select-container>
                            <label>Componentes:</label>
                            <select clrSelect name="tipoComponente" [(ngModel)]="tipoComponente">
                                <option value="texto-plano">Texto plano</option>
                                <option value="destacado">Destacado</option>
                                <option value="recuerda">Recuerda</option>
                            </select>
                        </clr-select-container>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" (click)="modalNew.activa = false">Cancelar</button>
                    <button type="button"
                            class="btn btn-primary"
                            (click)="iniciaNuevoComponente(modalNew.seccion, tipoComponente)">
                        {{modalNew.textoAccion}}
                    </button>
                </div>
            </clr-modal>
        </div>
    </div>
</div>
