.main-container {
    .content-container {
        .content-area {
            .alerta {
                position: fixed;
                top: 0;
                width: 15rem;
            }
        }
    }
}
