<div class="main-container">
    <header class="header header-6">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="vm-bug"></clr-icon>
                <span class="title">Mediateca</span>
            </a>
        </div>
        <div class="header-nav">
            <a href="javascript://" class="active nav-link nav-text">Curso 01</a>
            <a href="javascript://" class="nav-link nav-text">Curso 02</a>
        </div>
        <div class="header-actions">
            <a href="javascript://" class="nav-link nav-icon">
                <clr-icon shape="plus-circle"></clr-icon>
            </a>
            <a href="javascript://" class="nav-link nav-icon">
                <clr-icon shape="login"></clr-icon>
            </a>
            <a href="javascript://" class="nav-link nav-icon">
                <clr-icon shape="logout"></clr-icon>
            </a>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <div class="clr-row">
                <div class="clr-col-4">
                    <span>4</span>
                </div>
                <div class="clr-col-8">
                    {{texto}}
                    <quill-editor [modules]="configuracionTexto" format="html" [(ngModel)]="texto" [placeholder]="texto"></quill-editor>
                    <button class="btn btn-primary">Generar</button>
                </div>
            </div>
        </div>
    </div>
</div>